.container{
  max-width:1200px;
  margin: 0 auto;
  padding: 0 40px;
}
.wrraper{
  max-width: 1280px;
  margin: 0 auto;
}

a,p,h1,h2,h3,h4,span,li,input,button{
  font-family: var(--fonts);
  font-style: normal;
}

