.input{
  display: block;
  border: 1px solid #020D2B;
  border-radius: 29px;
  max-width: 413px;
  width: 100%;
  padding:12px 0 10px 16px ;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: var(--black);
  &::placeholder{
    color: var(--black);
  }


}
textarea{
  border: 1px solid #020D2B;
  border-radius: 29px;
  max-width: 425px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  font-family: var(--fonts);
  margin-bottom: 35px;
  height: 100px;
}

button{
  background: #2727FF;
  border-radius: 29px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: var(--grey);
padding: 14px 63px;
  border: none;
  display: flex;
  &:hover{
    background: var(--button-hover);
  }
}
