.reviews {
  background: var(--white);
  padding-top: 90px;
  padding-bottom: 82px;

  h3 {
    font-weight: 400;
    font-size: 60px;
    line-height: 115%;
    text-transform: uppercase;
    color: var(--black);

  }

  p {
    color: var(--black);
  }

  &__review {
    display: flex;
    justify-content: space-between;
  }
}